/* Clients */

.client-list {
    display: flex;
    justify-content: center;
}

.client-link {
    display: flex;

    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.client-item {
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border: 1px solid var(--accent-color);
    }
    &:not(:last-child) {
        margin-right: 30px;
    }
}



